.but-1{
       font-weight: bold;
       color: whitesmoke;
       background-color: green;
       height: 30px;
       border-radius: 7px;

}
.but-1:hover{
    opacity:  0.8;
    cursor:pointer;
}
.e{
    color: darkorange;
}
.search{
    border-radius: 7px;
    height: 26px;
    cursor: pointer;
}