.load-1{
    height: 100px;
    width: 100px;
    border: 10px solid transparent;
    border-top: 10px solid red;
    border-radius: 70px;
    display: flex;
    justify-content: center;
    align-content: center;
    animation: loadinganimation 0.8s linear infinite;
}
@keyframes loadinganimation{
    from{transform: rotate(0deg);}
    to{transform:rotate(360deg);}
}